<tr>
    <td valign="top" style="border-top: 1px solid gray; border-left: 1px solid gray; padding-right:4px; padding-left:4px; font-size: 10px; font-family: Verdana;" align="center">{date}</td>
    <td valign="top" style="border-top: 1px solid gray; padding-right:4px; padding-left:4px; font-size: 10px; font-family: Verdana;" align="center"><b>{user}</b></td>
    <td valign="top" style="border-top: 1px solid gray; padding-right:4px; padding-left:4px; font-size: 10px; font-family: Verdana;" align="center"><span style="color: {logtypeColor}"><b>{logtype}</b></span></td>
    <td valign="top" style="border-top: 1px solid gray; border-right: 1px solid gray; padding-right:4px; padding-left:4px; font-size: 10px; font-family: Verdana;" align="center"><a href="{absolute_server_URI}{wp}">{wp} {cachename}</a><br/></td>
</tr><tr>
    <td colspan="4" valign="top" style="border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; border-top: 1px solid #CCC;padding-right:4px; padding-left:4px; font-size: 10px; font-family: Verdana;">
        {text}
    </td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>